@import url("https://glex-ui.vercel.app/component.css");
@import url("./doc_style/doc_landing.css");
@import url("./pages/home/home.css");
@import url("./pages/quiz_rules/quiz_rules.css");
@import url("./pages/quiz_question/quiz_question.css");
@import url("./pages/quiz_result/quiz_result.css");
@import url("./pages/auth/auth.css");
:root {
  --background-color: #0c0d13;
  --text-color: var(--white-color);
  --secondary-background: #0d1d31;
}
@media screen and (max-width: 750px) {
  body {
    max-width: 80vh;
  }
  :root {
    font-size: 10px;
  }
}
body {
  background: #0c0d13;
  color: var(--grey-200);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--grey-200);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--secondary-color);
}
